<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="skd.app.androidfeatures">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".serviceDemo.DemoService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjxwcVDhltsOxaA-gCQt7bi-k4eD_w3BY" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sRecylerView.RecylerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".overlaydemo.OverlayActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fingerPrintDemo.FingerActivity" />
        <activity android:name=".viewPagerDemo.PagerActivity" />
        <activity android:name=".inflatorDemo.InflatorActivity" />
        <activity android:name=".compoundview.CompoundViewActivity" />
        <activity android:name=".dropdowns.DropdownS" />
        <activity android:name=".pagerwizard.PagerWizard" />
        <activity android:name=".jsonReader.JsonReader" />
        <activity android:name=".pagerwizard.WizardActivity" />
        <activity android:name=".sokcetdemo.SocketTest" />
        <activity android:name=".pagerwizard.SimpleWizard" />
        <activity android:name=".sRecylerView.MultiSelectionRecycler" />
        <activity android:name=".sRecylerView.SingleSelectRecycler" />
        <activity android:name=".sRecylerView.SimpleRecycler" />
        <activity android:name=".maps.LocationPickerTest" />
        <activity
            android:name=".maps.MapsActivityTest"
            android:label="@string/title_activity_maps_test" />
        <activity android:name=".toolbarTest.ToolbarTest" />
        <activity android:name=".permissionTest.DexterPermissionTest" />
        <activity android:name=".materialDrawerTest.MaterialDrawerTest" />
        <activity android:name=".webviewTest.WebViewTest" />
        <activity android:name=".forms.MainForm" />
        <activity android:name=".forms.AddForm" />
        <activity android:name=".forms.EditForm" />
        <activity android:name=".locationTest.LocationTracker" />
        <activity android:name=".groovyTest.GroovyTest" />
        <activity android:name=".rhinojsTest.RhinojsTest" />
        <activity android:name=".downloadDemo.DownladActivity" />
        <activity android:name=".dialogsDemo.DialogActivity" />
        <activity android:name=".serviceDemo.ServiceDemoActivity" />

        <service
            android:name=".serviceDemo.ServiceTest"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".serviceDemo.services.Service1"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>